certifi==2019.6.16
chardet==3.0.4
ddt==1.4.1
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4.1
Jinja2==2.10.1
jsonpath==0.82
MarkupSafe==1.1.1
mysql==0.0.2
mysqlclient==2.0.1
openpyxl==2.6.2
PyMySQL==0.9.3
PyYAML==5.3.1
requests==2.22.0
unittestreport==1.1.8
urllib3==1.25.3
